<%- include("partials/header"); -%>


  <div class="box" id="heading">
    <h1> <%= locationTitle %> </h1>
  </div>

  <div class="box">
    
    <% newListItems.forEach(function(newListItem) { %>

      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%=newListItem._id%>" onChange="this.form.submit()">
          <p><%=  newListItem.name  %></p>
        </div>
        <input type="hidden" name="listName" value="<%= locationTitle %>"></input>
      </form>
    
    <% }) %>

      <form class="item" action="/" method="post">
        <input class="itemsList" type="text" name="newItem" placeholder="Add New Item" autocomplete="off">
        <button class="add" type="submit" name="list" value="<%= locationTitle %>">+</button>
      </form>
  </div>


<%- include("partials/footer"); -%>




